#img1{
    height: 350px;
    width: 310px;
}
#img1box{

}

#img2{
    height: 350px;
    width: 280px;
}

body{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 22px;
    
}